.progress-bar {
  background-color: black;
  position: relative;
  height: 20px;
  width: 250px;
  border-radius: 50px;
  padding: 1%;
  border: 1px solid #333;
  margin: 25px 0 25px 50px;
}

.filler {
  background: #00e676;
  height: 100%;
  border-radius: inherit;
  transition: width 0.2s ease-in;
}

